.vscode

src/models/common/__pycache__
src/models/__pycache__

.ipynb_checkpoints
*/.ipynb_checkpoints/*

.idea

.virtual_documents

data/processed/Y/~*
models/*
models_MR/*

src/models/slurm/output/
*.asv

notebook/my_dir/
notebook/tmp/


src/models/keras_tuner_dir/
src/models/my_dir/
src/models/slurm/keras_tuner_dir/
